* {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}


@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



.container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#backgroundCover {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadeIn 1s;
}


#scrollbar:hover {
    overflow-y: scroll;
}

#scrollbar {
    height: 80%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.film_sidebar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 180px;
}


.film_sidebar::before {
    position: absolute;
    top: 0;
    left: 37px;
    display: block;
    content: '';
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
}

.film {

    animation: 1s ease-out 0s slideInFromRight;
    list-style: none;
    color: white;
    font-family: 'Avenir Book';
    font-size: 18px;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    padding-left: 56px;
    box-sizing: border-box;
    cursor: pointer;
}

.film:hover {
    transform: scale(1.05);
}

.film__active {
    padding-left: 80px;
    text-shadow: 0 0 10px rgb(72, 224, 224);
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.52), rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.12), transparent);
    animation: fadeIn 1s;
    z-index: 5;
}

#filmInfo_wrapper {
    width: 680px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: auto 4%;
    position: absolute;
    top: 15%;
    right: 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s;
}

#filmInfo_wrapper:first-child {
    animation: fadeIn 1s;
}


.filmTitle {
    font-family: 'Avenir Book';
    color: white;
    font-size: 1.8rem;
    font-weight: lighter;
    grid-column: auto / span 6;
    margin: 0 18px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.filmCover {
    height: 250px;
    width: 170px;
    border-radius: 8px;
    grid-column: auto / span 2;
    grid-row: auto / span 4;
    margin-left: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


.film_infoTable {
    border-collapse: separate;
    border-spacing: 8px;
    width: auto;
    height: 250px;
    overflow: hidden;
    font-family: 'Avenir Book';
    color: black;
    grid-column: auto / span 4;
    grid-row: auto / span 4;
    margin-right: 18px;
}

.film_infoTable tr {
    background-color: white;
    font-family: 'Avenir Book';
}
td:first-child {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

td:last-child {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.film_infoTable td {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    
}

.film_synopsis {
    color: white;
    font-size: 0.9rem;
    font-family: 'Avenir Book';
    grid-column: auto / span 6;
    grid-row: auto / span 4;
    margin: 0 18px;
    line-height: 150%;
    padding: 20px 0;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}

#mobile_filmlist_btn {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Avenir Book';
    font-size: 1.2rem;
    position: absolute;
    top: 10%;
    margin: 0 0;
    cursor: pointer;
    display: none;
}

#mobile_filmlist {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 20%;
    margin: 0 auto;
    height: 45%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: none;
    z-index: 2;
}

.mobile_filmlist_item {
    color: white;
    font-family: 'Avenir Book';
}

@media screen and (max-width: 500px) {

    .container {
        height: 120vh;
    }

    #backgroundCover {
        height: 100%;
        width: auto;
    }

    .filmCover {
        margin: 0 0;
    }
    .film_infoTable {
        margin: 0 0;
        width: 90%;
    }

    .filmTitle {
        font-size: 1.5rem;
        margin: 2% 1%;
        text-align: center;
    }

    .film_synopsis {
        overflow-y: scroll;
        font-size: 1.2rem;
        margin-bottom: 2%;
    }

    .film_sidebar {
        display: none;
    }

    .film__active {
        background-color: rgba(72, 224, 224, 0.8);
    }


    #filmInfo_wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        top: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 0%;
    }

    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 25px;
    }

    #mobile_filmlist_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    
}

